code {
   border-radius:3px;
   background-color:#f8f8f8;
   border:1px solid #ddd;
   border-bottom-style:solid;
   color:#777;display:inline;
   font-family:Consolas,'Liberation Mono',Courier,monospace;
   font-size:12px;
   height:auto;
   line-height:20px;
   margin-bottom:0 2px;
   padding-bottom:0 5px;
   white-space:nowrap;
   width:auto;
}
